/* whole concert container style */
.concert-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
  }
  
  /* bands containers style  */
  .bands-container{
    border-right: 2px solid;
  }