/* cart small banner style  */
.cart-banner{
    border: 2px solid black;
    border-radius: 10px;
    background-color: blanchedalmond;
    margin-bottom: 5px;
}

/* small banner image style  */
.cart-image{
    height: 70px;
    width: 100px;
    padding: 5px;
}